<yandex>
    <remote_servers>
        <ontime_cluster>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <default_database>testcluster_shard_1</default_database>
                    <host>ch-server-1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <default_database>testcluster_shard_1</default_database>
                    <host>ch-server-2</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <replica>
                    <default_database>testcluster_shard_2</default_database>
                    <host>ch-server-2</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <default_database>testcluster_shard_2</default_database>
                    <host>ch-server-3</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <default_database>testcluster_shard_3</default_database>
                    <host>ch-server-3</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <default_database>testcluster_shard_3</default_database>
                    <host>ch-server-1</host>
                    <port>9000</port>
                </replica>
            </shard>
        </ontime_cluster>
    </remote_servers>
    <zookeeper>
        <node>
            <host>zookeeper</host>
            <port>2181</port>
        </node>
    </zookeeper>
</yandex>
